* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  body {
  background-color: #fff;
  
  }

 nav {
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 80px;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
  }

  .logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  a {
    position: relative;
    color: rgb(85, 85, 85);
    font-size: 16px;
    display: table;
    width: 300px;
    padding: -10px;
  } 
  .card-grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: larger;
    color: #080808;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform-style: preserve-3d;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    transform: scale(1.05);
}
  .card img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-overlay {
    opacity: 1;
  }
  
  .person-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #51ff00;
  }
 
  /* Updated CSS code for mobile devices */
  
  @media screen and (max-width: 768px) {
    .card-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -68px;
    }
  body{
    padding-left: 20px;
  }
    .card {
      width: 80%;
      max-width: 300px;
      margin-bottom: 30px;
      
    }
  
    .card img {
      width: 100%;
      height: auto;
    }
    a {
      position: relative;
      color: rgb(85, 85, 85);
      font-size: 16px;
      display: table;
      width: 40px;
      padding: 30px;
    } 
  }
  
  a:hover {
    background: rgb(0, 255, 34);
  }
  
  nav:hover {
    width: 280px;
  }
  
  .logout {
    position: absolute;
    bottom: 0;
  }
  
  .wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .banner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
  
  .business-zone,
  .singer-zone,
  .actor-zone,
  .utube-zone,
  .sport-zone {
    height: 100vh;
    text-align: center;
    margin-top: 50px;
    padding-left: 90px;
  }
  
  .content-zone {
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
  }
  
  .text {
    font-size: large;
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 44px;
    margin-left: -83px;
  }
  @media screen and (max-width: 768px) {
    

      .maincontent{
  
        margin-left: -101px;
    margin-right: -170px;
    font-size: 10px;
      }
  }