body {
    background-image: url("home1.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.chat-box {
    padding-left: 100px;
    padding-top: 40px;
    flex: 1 1 100%;
    max-width: 800px;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    overflow-y: auto;
    height: 520px; /* Adjust the height as needed */
}

.chat-log {
    flex-grow: 1;
    overflow-y: auto;
}

.message-input-container {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 720px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 810px;
    margin: 10px 10px 0;
    margin-bottom: 20px; /* Add margin-bottom */
}

.message-input-container input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.message-input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #03ff03;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.assistant-details {
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
    flex: 0 0 300px;
    margin: 30px;
    max-width: 330px;
    max-height: 410px;
    background-color: #3efa37;
    border: 3px solid #000000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
transform-style: preserve-3d;

}
.assistant-details:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
background-color: #0aff02;
}

.assistant-details img {
transition: transform 0.3s ease-in-out;
border: 2px solid #000000;
}

.assistant-details:hover img {
transform: scale(1.05);
border: 3px solid #000000;
}
.assistant-details img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.assistant-details h2 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
 
}
.message--user .message__icon {
    background-color: #9af79d;
    background-image: url("me.jpg");
    background-size: cover;
}

.assistant-details p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 10px 15px;
    background-color: #2aff2a;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.message__icon {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__text {
    padding: 10px;
    border-radius: 4px;
}



.message--user .message__text {
    background-color: #e5f8dc;
    color: #000000;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message--assistant .message__text {
    background-color: #cfaff8;
    color: #111111;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    .chat-container {
        justify-content: space-between;
    }

    .chat-box {
        flex: 1 1 calc(70% - 40px);
        margin-right: 20px;
    }

    .assistant-details {
        flex: 0 0 30%;
    }
}

@media only screen and (max-width: 768px) {
    .chat-box {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        border-radius: 0;
        max-height: none;
    }
}
@media only screen and (max-width: 768px) {
.assistant-details {
display: none;
}
.message-input-container {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 320px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 810px;
    margin: 10px 10px 0;
    margin-left: -20px ;
    margin-bottom: 20px; /* Add margin-bottom */
}
main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    overflow-y: auto;
    height: 520px; /* Adjust the height as needed */
}
}